/*Jacob Westphal 11/20/20*/

body { 
	background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
    background-image: url(../images/lilyheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
	 font-weight: bold; 
	 	 
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
}

address {
	margin-bottom: .5em;
}

main > ul {
	list-style-image: url("../images/yogabullet.png");
	margin-left: 3em;
}

/*Table CSS */

.schedule {
	border: black solid 1px;
	width: 100%;
	margin-bottom: .5em;
	border-collapse: collapse;
}

td {
	border: black solid 1px;
	text-align: center;
}

/*Mobile View */
@media only screen and (max-width:641px) {
	
	nav > ul > li {
		display: block;
	}
	
	header {
		background-image: none;
	}

	body {
		background-image: url(../images/yogamobile.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	img {
		display: none;
	}
}

/*Tablet View */
@media only screen and (min-width:642px) {
	nav > ul > li {
		display: inline;
	}
}