/* Style sheet created by: Jacob Westphal, 11/04/20 */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 0.5%;
	margin-left: 1%;
	font-size: 3em;
}

/* Style for the nav element */
nav {
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #4E9657;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}
/* Style for the table */
table{
  width: 100%;
  border: 1em;
  border-color: black;
}
td, th {
	border: 1px solid black;
}

h3 {
	text-align: center;
	margin-bottom: 0%;
}
main {
	padding: 1em;
	background-color: #4e9657;
}

section {
	background-color: white;
	color: #4e9657;
	padding: 15px;
	margin-top: 2px;
}

article {
	color: black;
	border-top: 2px solid black;
	padding: 2px;
	margin-top: 2px;
	
}

aside {
	border-radius: 5em;
	background-color: #4e9657;
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 20px;
	margin-top: 6px;
}

footer {
	text-align: center;
	font-size: .70em;
}